
@{
    ViewBag.Title = "Home";
}
<h3>@ViewBag.CustomActionMessage1</h3>
<body class="homeBackground">
    <div class="container" id="homeContainer">
        <div class="row">
            <div class="col-md-12">
                <img src="~/images/imgHome.jpg" id="homeImage" />
            </div>
        </div>
       
    </div>
</body>