@model System.Web.Mvc.HandleErrorInfo
@{ ViewBag.Title = "Oops! Error Encountered"; }
<h2 style="font:30pt/11pt verdana; color:black" id="ietext">
    HTTP @Response.StatusCode - @Response.StatusDescription <br>
</h2>


<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<div style="min-height: 400px;">
    <h5>Your in Oops!</h5>
    <br />
    <br />
    <div class="container">
        <p>@ViewBag.ExceptionMessage</p>
    </div>
   
    <button onclick="Error_goBack()" class="k-button">Go Back</button>
    <script>
        function Error_goBack() {
            window.history.back()
        }
    </script>

</div>