
@{
    ViewBag.Title = "AccountingVerification";
}

<h2>AccountingVerification</h2>

<body>

    <div class="container" id="myAccountingVerificationBackground">
        <table id="myAccountingVerification" class="cell-border" cellspacing="0">
            <thead>
                <tr>
                    <th>Ticket No.</th>
                    <th>Date of Application</th>
                    <th>Applicant Code</th>
                    <th>Applicant Name</th>
                    <th>Process Flow</th>
                    <th>Remarks</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>blah</td>

                    <td>blah</td>

                    <td>blah</td>

                    <td>blah</td>

                    <td>blah</td>

                    <td>blah</td>
                </tr>
        </table>
    </div>
</body>