#yTableVisaApplcatnStsReport{
    margin-top: 15px;
}

#table{
    margin-top: 20px;
}

#myTableVisaApplcatnStsReport thead th{
     background-color: #8fafd0;
}

#myTableSearchAgent{
    background-color: #525C65;
}

#myTableSearchAgent thead th{
     background-color: #8fafd0;
}


